.order-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 20%;
  }
  
  .order-info {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .order-label {
    color: #333;
  }
  
  .order-value {
    color: #777;
  }
  
  .kit-item {
    margin-top: 15px;
  }
  
  .kit-label {
    color: #333;
  }
  
  .kit-value {
    color: #777;
  }
  
  .products-in-kit {
    margin-top: 10px;
  }
  
  .product-label {
    color: #333;
  }
  
  .product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .product-list li {
    color: #777;
  }
  
  .add-button,
  .Recreate,
  .order-button {
    background-color: #eee;
    border: 2px solid #369;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    margin-left: 5%;
  }
  
  .add-button:hover,
  .Recreate:hover,
  .order-button:hover {
    background-color: #369; 
    color: white; 
    border-color: #369; 
  }