<ul class="orders-search">
    <label for="search-box">Order Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    <br>
    <h1>Orders Found</h1>
    <li *ngFor="let order of orders">
        <div>
            <span>Order Number: </span>{{order.id}}
        </div>
        <ul>
            <li *ngFor="let kit of order.kits_in_order">
                <div>
                    <span>Kit Name: </span>{{kit.name}} |
                    <span>Price: </span>{{kit.price}} |
                </div>
                <div>
                    <span class="products-in-kit">Products in Kit: </span>
                    <ul>
                        <li *ngFor="let product of kit.products_in_kit">{{product.name}}</li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>