<ul class="kits-search">
    <label for="search-box">Kit Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    <br>
    <h1>Kits Found</h1>
    <li *ngFor="let kit of kits$ | async" class="kit-item">
        <div class="kit-details">
            <span class="kit-label">Kit Name: </span><span class="kit-val">{{kit.name}}</span> |
            <span class="kit-label">Price: </span><span class="kit-val">{{kit.price}}</span> |
            <span class="kit-label">Products in Kit: </span><span class="kit-val">{{kit.products_in_kit}}</span>
        </div>
            <button (click)="addToShoppingCart(kit.id, 1)" class="add-to-cart" >Add to Cart</button>
    </li>
</ul>