<h1>Welcome Back, {{ name }}!</h1>
<div>


  <button (click) = "isChangingUser = true; isChangingPassword = false">
    Change Username
  </button>

  <button (click) = "isChangingPassword = true; isChangingUser = false">
    Change Password
  </button>

  <button>
    Checkout
  </button>

  <button>
    Order History
  </button>


</div>

<div *ngIf="isChangingUser">
  <form>
    <label for="name-field">New Username</label>
    <input type="text" #addedName id="name-field"/><br>
    <button (click) = "changeUsername(addedName.value)">Change Username</button>
  </form>
</div>