<h1>Register New User</h1>
<form [formGroup]="form" (ngSubmit)="login()">

  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name"/>

  <label for="username">Username:</label>
  <input type="text" id="username" formControlName="username" />

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" />

  <button type="submit">Login</button>
</form>

<a routerLink="/login"><Button>Already Have an Account?</Button></a>
