<h2>My Products</h2>
<div>
  <label for="new-product-name">Product name: </label>
  <input id="new-product-name" #productName>
  
  <label for="new-product-price">Product price: </label>
  <input id="new-product-price" #productPrice>

  <label for="new-product-quantity">Product quantity: </label>
  <input id="new-product-quantity" #productQuantity>

  <button type="button" class="add-button" 
    (click)="add(productName.value, productPrice.value, productQuantity.value); productName.value=''; productPrice.value=''; productQuantity.value=''">
    Add product
  </button>
</div>
<ul class="products">
    <li *ngFor="let product of products">
      <a routerLink="/detail/{{product.id}}">
        <span class="badge">{{product.id}}</span> {{product.name}}
      </a>
      <button type="button" class="delete" title="delete product"
        (click)="delete(product)">x</button>
    </li>
</ul>


