<h2>Product Inventory</h2>
<ul>
    <li *ngFor="let product of products">
        <div>
            Name: {{product.name}},     Price: {{product.price}},   ID: {{product.id}}
    </div>
    </li>
</ul>

<form>
    <label for="name-field">Kit Name</label>
    <input type="text" [(ngModel)]="kitName" name="kitName" id="name-field"/><br>
    <label for="product-ids">Product IDs (separate with commas):</label>
    <input type="text" [(ngModel)]="productIDs" name="productIDs" id="product-ids"/><br>
    <button type="button" (click)="addKit(kitName, productIDs)">Purchase Kit</button>
</form>




