<h1>Order History</h1>
<app-order-search></app-order-search>
<h1>Order History</h1>
<ul class="orders">
    <li *ngFor="let order of orders">
        <div>
            <span>Order Number: </span>{{order.id}}
        </div>
        <ul>
            <li *ngFor="let kit of order.kits_in_order">
                <div>
                    <span>Kit Name: </span>{{kit.name}} |
                    <span>Price: </span>{{kit.price}} |
                    <button (click)="addKitToShoppingCart(kit.id, 1)">Add Kit to Cart</button>
                </div>
                <div>
                    <span class="products-in-kit">Products in Kit: </span>
                    <ul>
                        <li *ngFor="let product of kit.products_in_kit">{{product.name}}</li>
                    </ul>
                </div>
            </li>
        </ul>
        <div>
            <li *ngFor = "let order_custom of custom_order">
                <div>
                    <span>Order Number: </span>{{order.id}}
                </div>
                <ul>
                    <li *ngFor = "let kit of order_custom.kits_in_order">
                        <div>
                            <span>Kit Name: </span> {{kit.name}} |
                            <span>Price: </span> {{kit.price}} |
                            <button (click)="reRoute()">Recreate Kit</button>
                        </div>
                        <span class="products-in-kit">Products in Kit: </span>
                        <ul>
                            <li *ngFor = "let product of kit.products_in_kit">{{product.name}}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </div>
</ul>
